main {
	padding: 2em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

form {
	display: inline-flex;
	gap: 0.5rem;
}

h1 {
	font-size: 2em;
	font-weight: 700;
}

input[type="button"],
button[type="submit"],
button {
	background: var(--green);
	border-radius: 8px;
	padding: 6px 12px;
	cursor: pointer;
	&:hover {
		background: color-mix(in srgb, var(--green) 80%, white);
	}
}

li {
	display: flex;
	gap: 0.5rem;
	font-size: 1.25rem;
}

input {
	border: 1px solid;
}
